<h1>Instruments</h1>
<ul>
  <% @instruments.each do |instrument| %>
    <li>
      <h3><%= instrument.name %></h3>
      <p style="font-style: italic">Classification: <%= instrument.classification %></p>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Go Back to Artist Index Page', artists_path %></p>